*{
	box-sizing: border-box;
}

label{
	float: left;
	display: block;
	width: 10em;
	padding-right: 1em;
}

input, textarea{
	display: block;
	margin-bottom: 1em;
}

#mySubmit{
	margin-left: 10em;
}

table{
	text-align: center;
	border: 1px #424242 solid;
	width: 90%;
}

td{
	align-content: center;
}

tr{
	align-content: center;
}

tr:nth-of-type(2n){
	background-color: #F3F3F3;
}

.text{
	text-align: left;
}

td, th{
	border-width: 1px;
	border-color: #424242;
	padding: 5px;
}

body{
	background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
	background-color: #FFFFFF;
	color: #666666;
	font-family: Verdana;
	background-attachment: fixed;
}

header{
	background-color: #BA1C21;
	color: #FFFFFF;
	font-family: Georgia;
}

h1{
	background-image: url("dsu.jpg");
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 1em;
	height: 72px;
	line-height: 240%;
	margin-bottom: 0;
}

nav{
	font-weight: bold;
	float: left;
	width: 160px;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 20px;
	text-decoration: none;
}

nav a:link{
	color: #000033;
}

nav a:visited{
	color: #CCCCCC;
}

nav a:hover{
	color: #CCCCCC;
}

nav ul{
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}

h2{
	color: #424242;
	font-family: Georgia;
}

dt{
	color: #BA1C21;
	font-weight: bold;
}

.dsu{
	color: #BA1C21;
	font-size: 1.2em;
}

footer{
	font-size: .70em;
	font-style: italic;
	text-align: center;
	padding: 1em;
	background-color: #FFFFFF;
	margin-left: 170px;
}

#wrapper{
	background-color: #424242;
	min-width: 700px;
	max-width: 1024px;
	box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

h3{
	color: #BA1C21;
}

main{
	background-color: #FFFFFF;
	margin-left: 170px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2em;
	padding-right: 2em;
	display: block;
}

#homehero {
	background-image: url("stadiumhero.jpg");
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 170px;
	max-width: 100%;
}

#studenthero{
	background-image: url("studenthero.jpg");
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 170px;
	max-width: 100%;
}

#facultyhero{
	background-image: url("facultyhero.jpg");
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 170px;
	max-width: 100%;
}

header, nav, main, footer { display: block; } 

#mobile{
	display:none;
}

#desktop{
	display: inline;
}

@media only screen and (max-width: 1024px){
	body{
		margin: 0px;
		padding: 0px;
		background-image: none;
	}

	#wrapper{
		width: auto;
		min-width: 0px;
		margin: 0;
		box-shadow: none;
	}

	h1{
		margin: 0px;
	}

	nav{
		float: none;
		width: auto;
		padding-bottom: 0.01em;
		padding-top: 0.01em;
		padding-left: 1em;
		padding-right: 1em;
	}

	nav li{
		display: inline-block;
	}

	nav a{
		padding-right: 2em;
	}

	main{
		padding: 1em;
		margin-left: 0px;
		font-size: 90%;
	}

	footer{
		margin: 0px;
	}

	#homehero, #studenthero, #facultyhero{
		margin-left: 0px;
	}
}

@media only all and (max-width:768px){
	h1{
		height: 100%;
		font-size: 1.3em;
		padding-left: .3em;
	}

	nav{
		padding: 0px;
	}

	nav a{
		display: block;
		padding: .2em;
		font-size: 1.1em;
		border-bottom: 1px;
		border-color: #FFFFFF;
	}

	nav ul{
		margin: 0px;
		padding: 0px;
	}

	nav li{
		display: block;
		margin: 0px;
		padding: 0px;
	}

	main{
		padding-top: 0.1em;
		padding-right: 0.6em;
		padding-bottom: 0.1em;
		padding-left: 0.4em;
	}

	#homehero, #studenthero, #facultyhero{
		display: none;
	}

	footer{
		padding: 0px;
	}

	#mobile{
		display: inline;
	}

	#desktop{
		display: none;
	}
}